<%= form_for(@reading) do |f| %>
  <% if @reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reading.errors.count, "error") %> prohibited this reading from being saved:</h2>

      <ul>
      <% @reading.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :systolic %><br>
    <%= f.number_field :systolic %>
  </div>
  <div class="field">
    <%= f.label :diastolic %><br>
    <%= f.number_field :diastolic %>
  </div>
  <div class="field">
    <%= f.label :heart_rate %><br>
    <%= f.number_field :heart_rate %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.select :user_id, options_from_collection_for_select(@users, 'id', 'name') %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
