<p id="notice"><%= notice %></p>

<h1>Listing Readings</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>User</th>
      <th>Systolic</th>
      <th>Diastolic</th>
      <th>Heart rate</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @readings.each do |reading| %>
      <tr>
        <td><%= time_ago_in_words reading.date %> ago</td>
        <td><%= link_to reading.user.name, reading.user %></td>
        <td><%= reading.systolic %></td>
        <td><%= reading.diastolic %></td>
        <td><%= reading.heart_rate %></td>
        <td>
          <% if reading.systolic != nil and reading.diastolic != nil %>
            <% if reading.systolic < 120 and reading.diastolic < 80 %>
              Normal
            <% elsif reading.systolic < 140 and reading.diastolic < 90 %>
              Prehypertension
            <% elsif reading.systolic < 160 and reading.diastolic < 100 %>
              Hypertension Stage 1
            <% elsif reading.systolic < 180 and reading.diastolic < 110 %>
              Hypertension Stage 2
            <% else %>
              EMERGENCY CARE NEEDED
            <% end %>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_reading_path(reading) %></td>
        <td><%#= link_to 'Destroy', reading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reading', new_reading_path, :class => 'btn btn-default' %>
