<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @reading.date %>
</p>

<p>
  <strong>Systolic:</strong>
  <%= @reading.systolic %>
</p>

<p>
  <strong>Diastolic:</strong>
  <%= @reading.diastolic %>
</p>

<p>
  <strong>Heart rate:</strong>
  <%= @reading.heart_rate %>
</p>

<p>
  <strong>User:</strong>
  <%= @reading.user_id %>
</p>

<%= link_to 'Edit', edit_reading_path(@reading) %> |
<%= link_to 'Back', readings_path %>
